#commentSection {
    width: 500px;
    margin: 0 auto;
  }
  
  #commentForm input,
  #commentForm textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  
  #commentList li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  